@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #4CAF4F;
    --primary-color-dark: #1b5e1f;
    --secondary-color: #263238;
    --info-color: #2194f3;
    --background-color-5: #E8F5E9;
    --white-color: #fff;
    --text-color: #717171;
    --text-color-header: #4D4D4D;
    --max-width: 1280px;
    --max-width-content: 1152px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.section__container {
    max-width: var(--max-width-content);
    margin: auto;
    padding: 3rem 1rem;
}

.section__header {
    font-size: 36px;
    font-weight: 600;
    color: var(--text-color-header);
    line-height: 3rem;
}

.section__description {
    color: var(--text-color);
    line-height: 1.75rem;
}

.btn {
    padding: 14px 32px;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: var(--primary-color-dark);
}

.btn2 {
    padding: 10px 20px;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.btn2:hover {
    background-color: var(--primary-color-dark);
}

img {
    width: 100%;
    display: flex;
}

.logo {
    max-width: 150px;
}

.header {
    background-color: var(--background-color-5);
}

nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    top: 0;
    max-width: var(--max-width);
    margin: auto;
    z-index: 9;
}

.nav__bar {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--background-color-5);
}

.nav__menu__btn {
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__links {
    list-style: none;
    position: absolute;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    background-color: rgba(76, 175, 79, 10.9);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}

.nav__links.open {
    transform: translateY(0);
}

.nav__links a {
    position: relative;
    isolation: isolate;
    padding-bottom: 8px;
    font-size: 500;
    color: var(--white-color);
    transition: 0.3s;
}

.nav__btns{
    display: none;
}

.hero__container {
    display: grid;
    gap: 2rem;
    align-items: center;
    padding: 5rem 1rem;
}

.hero__content h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 5rem;
    color: var(--secondary-color);
    margin-bottom: 16px;
}

.hero__content span {
    color: var(--primary-color)
}

.hero__content p{
    margin-bottom: 32px;
}

.hero__image {
    overflow: hidden;
}

.hero__image img {
    max-width: 450px;
    margin-inline: auto;
}

.client__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px
}

.swiper {
    margin-top: 8px;
    width: 100%;
    height: 96px;
  }
  
  .swiper-slide {
    min-width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .client__logo img {
    width: 48px;
    height: 48px;
  }

  .community__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .community__container .section__header {
    text-align: center;
    max-width: 600px;
  }

  .community__container .section__description {
    margin-top: 8px;
  }

  .community__grid {
    margin-top: 16px;
    display: grid;
    gap: 1rem;
  }

  .community__card {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .community__details{
    max-width: 300px;
    padding: 24px 32px;
    text-align: center;
  }

  .community__icon span {
    font-size: 48px;
    color: var(--primary-color-dark);
  }

  .community__card h3 {
    margin-top: 8px;
    font-size: 28px;
    font-weight: 700;
    line-height: 2.5rem;
    color: var(--text-color-header);
  }

  .community__card p {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
  }

  @media (width > 576px) {
    .community__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
  }

@media (width > 768px) {
    nav {
        padding: 2rem 1rem;
        position: static;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav__bar {
        padding: 0;
        background-color: transparent;
    }

    .nav__menu__btn {
        display: none;
    }

    .logo img {
        width: 125px; /* Lebar tetap */
    }

    .nav__links {
        padding: 0;
        width: unset;
        position: static;
        transform: none;
        flex-direction: row;
        background-color: transparent;
        gap: 1rem
    }

    .nav__links a {
        color: var(--secondary-color);
    }

    .nav__btns {
        display: block;
    }

    .nav__btns .nav__btn {
        color: var(--primary-color);
        background-color: transparent;
    }

    .nav__links a::after{
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: var(--primary-color);
        transition: 0.3s;
        transform-origin: left;
    }

    .nav__links a:hover::after {
        width: 100%;
    }

    .hero__container {
        grid-template-columns: 2fr 1fr;
    }

    .community__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (width > 870px) {

    .nav__links {
        gap: 2rem
    }  

    .logo img {
        width: 100%; /* Lebar tetap */
    }
}